---
import KeyRound from "@lucide/astro/icons/key-round";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="nav">
    <div>
      <a class="logo-link" href="/">
        <KeyRound class="logo" size="30" />
      </a>
    </div>

    <ul class="link-list">
      <li><a href="/">Главная</a></li>
      |
      <li><a href="/articles">Статьи</a></li>
      |
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
</header>

<style scoped>
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  ol,
  ul {
    list-style: none;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg) scale(1.1);
    }
    100% {
      transform: rotate(-20deg) scale(1.1);
    }
  }

  .logo {
    transform-origin: center;

    &:hover {
      animation: 0.5s ease-in-out infinite alternate shake;
    }
  }

  .link-list {
    display: flex;
    gap: 0.5rem;
  }
</style>
