---

---

<header>
  <nav class="nav">
    <div>
      <a href="/">Crypto Blog</a>
    </div>

    <ul class="link-list">
      <li><a href="/">Главная</a></li> |
      <li><a href="/articles">Статьи</a></li>
    </ul>
  </nav>
</header>

<style>
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  .link-list {
    display: flex;
    gap: 0.5rem;
  }
</style>
